<button
  [ngClass]="computedClasses"
  class="flex items-center justify-center"
  [disabled]="disabled"
  (click)="onClick($event)">
  <span
    *ngIf="sanitizedIconSvg && iconPosition === 'left'"
    class="flex"
    [ngClass]="{ 'mr-2': hasProjectedContent }"
    [innerHTML]="sanitizedIconSvg">
  </span>
  <ng-content #projectedContent></ng-content>
  <span
    *ngIf="sanitizedIconSvg && iconPosition === 'right'"
    class="flex"
    [ngClass]="{ 'ml-2': hasProjectedContent }"
    [innerHTML]="sanitizedIconSvg">
  </span>
</button>
