<footer
  class="bg-zinc-800 text-zinc-200 text-sm w-full p-2 flex justify-between items-center min-h-8">
  <div *ngIf="activeNote" class="flex items-center gap-4">
    <div>{{ activeNote.path }}</div>
    <div>Created {{ activeNote.createdAt | date: 'medium' }}</div>
    <div>Updated {{ activeNote.updatedAt | date: 'medium' }}</div>
    <div>{{ activeNote.size / 1024 | number: '1.1-1' }} KB</div>
  </div>
  <div
    *ngIf="activeNote && cursorPosition"
    class="flex items-center justify-center gap-4">
    <div>Characters {{ activeNote.content.length || '' }}</div>
    <div>Line {{ cursorPosition.line }}</div>
    <div>Column {{ cursorPosition.column }}</div>
  </div>
</footer>
