<div #editorContainer class="editor h-full w-full flex flex-col">
  <div class="flex justify-between mx-3">
    <div class="flex">
      <app-button
        (clicked)="summarizeNote()"
        [disabled]="isSummarizing"
        [icon]="icons['material-symbols-light--wand']"
        [rounded]="false"
        [variant]="'transparent'">
        <span class="ml-2">{{ isSummarizing ? 'Summarizing...' : 'Summarize with AI' }}</span>
      </app-button>
    </div>
  </div>
  <ngx-monaco-editor
    (ngModelChange)="onTextChange($event)"
    (onInit)="onEditorInit($event)"
    [ngModel]="activeNote?.content"
    [options]="editorOptions"
    class="flex-1 h-full w-full">
  </ngx-monaco-editor>
</div>

<app-summary-dialog
  [isOpen]="dialogOpen"
  [summary]="summaryText"
  (accepted)="onSummaryAccepted()"
  (cancelled)="onSummaryCancelled()">
</app-summary-dialog>
