<div class="h-screen w-screen grid grid-rows-[auto_1fr]">
  <header
    class="bg-white text-black p-2 flex items-center justify-between shadow-md">
    <h1 class="text-2xl font-semibold tracking-wide text-black">Notes</h1>
    <div class="flex items-center">
      <app-button
        variant="transparent"
        size="md"
        [rounded]="true"
        class="hover:bg-gray-100 transition-colors"
        (clicked)="collapsed = !collapsed">
        {{ collapsed ? '>' : '<' }}
      </app-button>
    </div>
  </header>

  <div class="grid grid-cols-[auto_1fr] h-full overflow-hidden">
    <aside
      [ngClass]="{ 'w-80': !collapsed, 'w-0': collapsed }"
      class="bg-white text-black transition-all duration-300 overflow-auto shadow-lg">
      <div *ngIf="!collapsed" class="p-4">
        <app-sidebar></app-sidebar>
      </div>
    </aside>

    <main class="flex flex-col md:flex-row h-full overflow-auto">
      <div class="bg-gray-100 w-full md:w-1/2 h-full pb-4 pr-4">
        <app-editor></app-editor>
      </div>

      <div class="bg-white w-full md:w-1/2 h-full overflow-auto">
        <app-preview class="h-full w-full block text-black"></app-preview>
      </div>
    </main>
  </div>

  <app-footer></app-footer>
</div>
