<div class="h-screen w-screen grid grid-rows-[auto_1fr_auto]">
  <header class="bg-white text-black p-2 flex items-center justify-between">
    <h1 class="ml-4 text-2xl text-black">Notes</h1>
    <div class="flex items-center gap-2">
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="collapsed ? chevronRight : chevronLeft"
        (clicked)="collapsed = !collapsed">
      </app-button>
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="plus"
        (clicked)="addNoteClicked()">
      </app-button>
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="settingsIcon"
        (clicked)="goToSettings()">
      </app-button>
    </div>
  </header>

  <div class="grid grid-cols-[auto_1fr] h-full overflow-hidden">
    <aside
      [ngClass]="{ 'w-80': !collapsed, 'w-0': collapsed }"
      class="transition-all duration-300 overflow-auto">
      <div *ngIf="!collapsed" class="ml-4 mr-2">
        <app-sidebar></app-sidebar>
      </div>
    </aside>

    <main class="flex flex-col md:flex-row h-full">
      <div class="w-full md:w-1/2 h-full">
        <app-editor></app-editor>
      </div>

      <div class="bg-white w-full md:w-1/2 h-full">
        <app-preview class="flex w-full h-full"></app-preview>
      </div>
    </main>
  </div>

  <div class="flex w-full">
    <app-footer class="w-full"></app-footer>
  </div>
</div>
