<div class="relative h-screen w-screen grid grid-rows-[auto_1fr_auto]">
  <header
    data-tauri-drag-region
    class="title-bar bg-white dark:bg-zinc-800 py-4 px-2 flex items-center justify-between">
    <div class="uppercase ml-4 text-2xl text-black dark:text-neutral-100">
      Notes
    </div>
    <div class="action-buttons flex items-center gap-2">
      <app-button
        [icon]="
          collapsed
            ? icons['fluent--chevron-right-24-regular']
            : icons['fluent--chevron-left-24-regular']
        "
        (clicked)="collapsed = !collapsed">
      </app-button>
      <app-button
        [icon]="
          isDarkMode
            ? icons['fluent--weather-sunny-24-regular']
            : icons['fluent--dark-theme-24-filled']
        "
        (clicked)="toggleDarkMode()">
      </app-button>
      <app-button
        variant="transparent"
        [icon]="icons['fluent--search-24-regular']"
        (clicked)="showSearch = !showSearch">
      </app-button>
      <app-button
        [icon]="icons['fluent--note-add-24-regular']"
        (clicked)="showTemplatePopup = true">
      </app-button>
    </div>
    <div class="flex items-center gap-2">
      <app-button
        [icon]="icons['fluent--minimize-24-filled']"
        (clicked)="minimizeWindow()">
      </app-button>
      <app-button
        [icon]="icons['fluent--maximize-24-regular']"
        (clicked)="maximizeWindow()">
      </app-button>
      <app-button
        [icon]="icons['material-symbols--close-small-outline-rounded']"
        (clicked)="closeWindow()"></app-button>
    </div>
  </header>

  <div
    [ngClass]="{
      'grid-cols-[60px_auto_1fr]': !collapsed,
      'grid-cols-[0_auto_1fr]': collapsed
    }"
    class="flex items-center h-full overflow-hidden bg-white dark:bg-zinc-800">
    <!-- tools -->
    <aside
      class="flex flex-col items-center justify-between transition-all duration-300 overflow-hidden py-4 h-full px-2"
      [ngClass]="{ 'w-auto': !collapsed, 'w-0': collapsed }">
      <div class="flex flex-col items-center gap-2">
        <app-button
          [variant]="currentMode === 'notes' ? 'primary' : 'transparent'"
          [icon]="icons['fluent--note-24-regular']"
          (clicked)="currentMode = 'notes'">
        </app-button>
        <app-button
          [variant]="currentMode === 'archived' ? 'primary' : 'transparent'"
          [icon]="icons['fluent--delete-24-regular']"
          [badgeColor]="'bg-red-500'"
          (clicked)="currentMode = 'archived'">
        </app-button>
      </div>
      <div class="flex flex-col items-center gap-2 h-auto min-h-fit self-end">
        <app-button
          [icon]="icons['fluent--settings-28-regular']"
          (clicked)="routeToSettings()">
        </app-button>
      </div>
    </aside>

    <!-- notes-->
    <aside
      [ngClass]="{ 'w-80': !collapsed, 'w-0': collapsed }"
      class="flex h-full dark:bg-zinc-800 transition-all duration-300 overflow-auto py-4">
      <div *ngIf="!collapsed" class="px-2">
        <app-sidebar [mode]="currentMode"></app-sidebar>
      </div>
    </aside>

    <!-- editor and preview -->
    <main class="flex flex-col md:flex-row h-full">
      <div class="w-full md:w-1/2 h-full">
        <app-editor></app-editor>
      </div>

      <div class="w-full md:w-1/2 h-full">
        <app-preview class="flex w-full h-full"></app-preview>
      </div>
    </main>
  </div>

  <div class="bg-zinc-800 text-white flex w-full">
    <app-footer class="w-full"></app-footer>
  </div>

  <div
    *ngIf="showSearch"
    class="w-4/5 md:w-1/2 lg:w-1/3 fixed top-6 bg-white/50 dark:bg-neutral-800/50 backdrop-blur-sm left-1/2 -translate-x-1/2 flex justify-center z-[9999] shadow-xl rounded-lg">
    <app-search
      class="w-full"
      (noteClicked)="onNoteClicked($event)"
      (closeClicked)="showSearch = false"></app-search>
  </div>

  <div
    *ngIf="showTemplatePopup"
    class="w-4/5 md:w-1/2 lg:w-1/3 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white/50 dark:bg-zinc-800/50 backdrop-blur-sm flex justify-center z-[9999] shadow-xl rounded-lg">
    <app-note-template-popup
      class="w-full"
      (templateSelected)="onTemplateSelected($event)"
      (closed)="showTemplatePopup = false">
    </app-note-template-popup>
  </div>
</div>
