<div class="flex flex-col h-full w-full">
  <div class="flex justify-between mx-3">
    <div class="flex">
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="zoomInIcon"
        (clicked)="updateFontSize(0.2)">
      </app-button>
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="zoomOutIcon"
        (clicked)="updateFontSize(-0.2)">
      </app-button>
    </div>
    <div class="flex">
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="printIcon"
        (clicked)="print()">
      </app-button>
      <app-button
        variant="transparent"
        [rounded]="true"
        [iconSvg]="deleteNoteIcon"
        (clicked)="deleteNote()">
      </app-button>
    </div>
  </div>

  <iframe
    #previewIframe
    src="assets/preview.html"
    style="width: 100%; height: 100%; border: none">
  </iframe>
</div>
