<div
  class="titlebar grid bg-white text-black dark:bg-zinc-800 dark:text-white h-full w-full"
  style="
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
  ">
  <header
    class="action-buttons py-4 px-2 flex items-center justify-between"
    data-tauri-drag-region
    style="grid-row: 1">
    <div class="uppercase ml-4 text-2xl">Settings</div>
    <app-window-controls></app-window-controls>
  </header>

  <div
    class="px-6 py-2 h-full w-full flex flex-col gap-2"
    style="grid-row: 2; min-height: 0; min-width: 0; overflow: hidden">
    <div *ngIf="reason$ | async as reason">
      <div *ngIf="reason === 'missing'" class="alert p-3 rounded-md mb-4">
        Please select a base path to continue.
      </div>
      <div *ngIf="reason === 'invalid'" class="alert p-3 rounded-md mb-4">
        The selected base path does not exist. Please choose a valid folder.
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-xl">Base Path</div>
      <div *ngIf="basePath$ | async as basePath" class="text-sm italic">
        {{ basePath || 'Not set' }}
      </div>
      <app-button
        (clicked)="selectFolder()"
        [rounded]="false"
        [variant]="'primary'">
        Select Folder
      </app-button>
    </div>
  </div>
</div>
